extends layouts/base
block content
  h1 Hello From the Server
  ul
    each media , i in medias
      li= media.Title
        a(href= `${media.Type}/${media.Folder}`)
          img(src=media.Poster, alt="Poster")