extends layouts/base
block content
  main.main.main-single  
    section.single-page
      if media.Error
        h4.single.Folder
        p.media-error= media.Error
      else
        div.single-info
          h4.single-title=  media.Title
          if media.Director != 'N/A'
            p.single-director
              span.single-director-label Director &nbsp;
              span.single-director-name= media.Director
            p.single-plot= media.Plot
        div.single-poster
          img(src=media.Poster, alt="Poster")