.logo{
  font-family: var(--font-title);
  color: var(--color-primary);
  font-size: calc(55rem/16);
  letter-spacing: 4px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 8px 8px 6px black;
  transition: .2s;
  margin-right: 20px;
}

