html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title FullStack Workflow
    link(rel='stylesheet', href='style.css')
  body
    block content
    br
    hr
    footer
      p Cris Copyright &copy; 2020
    script(src="main.js")