html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title FullStack Workflow
    link(rel='stylesheet', href='style.css')
  body
    include header
    block content
    
    script(src="main.js")