
.header {
  display : flex;
  align-items: center;
  width: 100%;
  height: var(--height-header);
  padding: 0 var(--container);
  z-index: 100;
  background-color: var(--color-background-dark-light);
  @media(max-width: 420px) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
}