.main-single{
  min-height: fit-content;
  display: flex;
  @media(min-width: 768px) {
      min-height: 80vh;
  }
}
.single-page{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-info{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 1.2rem;
  min-width: 320px;
  position: relative;
}
.single-title{
  grid-column: 1/8;
  grid-row: 1/2;
  text-align: center;
  font: calc(45rem/16)/1 var(--font-title);
  color: var(--color-primary-med);
}

.single-info > .label{
  grid-column: 1/4;
  justify-self: end;
  text-align: end;
  color: var(--color-primary);
}
.single-info > .data{
  grid-column: 4/8;
}

.single-info > .play-button {
  position: absolute;
  right: 15%;
  top: 20%;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  box-sizing: border-box;
  font: calc(25rem/16)/1 var(--font-title);
  color: var(--color-light);
  background-color: var(--color-primary-med);
  &:hover{
    text-shadow: var(--text-shine);
  }
  &:active{
    box-shadow:  inset .3em .3em .3em var(--color-primary-med), 
                inset -.3em -.3em .3em var(--color-primary);
  }
  
}

.single-poster{
  flex: 1;
  display: flex;
}


.single-poster img {

  min-width: 220px;
  @media(max-width: 768px){
    margin: auto;
  }
}