@import './reset.css';
@import 'normalize.css';
@import './variables.css';
@import './font-flex.css';

html {
    font-family: var(--font-text);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    color: var(--color-light);
    @extend %font-flex;
}
body{
    box-sizing: border-box;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    background-color: var(--color-background-dark);
}
main {
    width: 100%;
    min-height: -webkit-fill-available;
  }
img{
    max-width: 100%;
}
