head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title FullStack Workflow
    link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:wght@400;900&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    script(src="/main.js" defer)